<div class="navbar navbar-default" id="navigation">
    <div class="navbar-header">
        <a href="#/" class="navbar-brand">Battle Game</a>
    </div>
    <div class="navbar-collapse collapse navbar-responsive-collapse">
        <ul class="nav navbar-nav">
            <li>
                <a href="#/game/create">Create game</a>
            </li>
            <li>
                <a href="#/game/open">Open games</a>
            </li>
            <li>
                <a href="#/user/scoreboard">Score board</a>
            </li>
            <li>
                <a href="#/game/active">Active games</a>
            </li>
            <li>
                <a href="#/messages">Messages</a>
            </li>
            <li>
                <a href="#/logout" class="btn btn-link">Logout</a>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a href="#/" id="user-nickname">Hello, {{nickname}}</a>
            </li>
        </ul>
    </div>
</div>