<div class="row">
    <div class="col-lg-6 col-lg-offset-3">
        <div id="create-game-form" class="well bs-component">
            <form class="form-horizontal" method="post" action="#/game/create">
                <fieldset>
                    <legend>Create game form</legend>
                    <div class="form-group">
                        <label for="game-title" class="col-lg-2 control-label">Title</label>
                        <div class="col-lg-10">
                            <input type="text" class="form-control" name="game-title" placeholder="Title">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="game-password" class="col-lg-2 control-label">Password</label>
                        <div class="col-lg-10">
                            <input type="password" class="form-control" name="password" placeholder="Password">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-10 col-lg-offset-2">
                            <button class="btn btn-primary">Create</button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>