<div class="row">
    <div class="col-lg-6 col-lg-offset-3">
        <div class="well bs-component">
            <form class="form-horizontal" method="post" action="#/game/join/{{gameId}}">
                <fieldset>
                    <legend>Join game form</legend>
                    <div class="form-group">
                        <label for="join-game-password" class="col-lg-2 control-label">Password</label>
                        <div class="col-lg-10">
                            <input type="password" placeholder="Password" class="form-control" id="join-game-password" name="password" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-10 col-lg-offset-2">
                            <button class="btn btn-primary" id="join-game">Join</button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>
